@font-face {
    font-family: 'opengost_type_a_ttregular';
    src: url('../fonts/opengosttypea-regular.eot');
    src: url('../fonts/opengosttypea-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opengosttypea-regular.woff') format('woff'),
         url('../fonts/opengosttypea-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opengost_type_b_ttregular';
    src: url('../fonts/opengosttypeb-regular.eot');
    src: url('../fonts/opengosttypeb-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opengosttypeb-regular.woff') format('woff'),
         url('../fonts/opengosttypeb-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}